/*                       ESTILO PRINCIPAL                       */
/*  Define el estilo visual de la aplicación, incluyendo
    la disposición de los elementos, colores y tipografía. 
    Se aplican estilos a los IDs definidos en index.html        */


body {
  font-family: Arial, sans-serif;
  background: #eef2f7;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hidden {
  display: none !important;
}

.container {
  background: white;
  padding: 2em;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
}

.title {
  margin-bottom: 1em;
  color: #111827;
}

.input {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  font-size: 1em;
}

.btn {
  width: 100%;
  padding: 0.8em;
  background: #2563eb;
  color: white;
  font-size: 1em;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover {
  background: #1e40af;
}

.switchText {
  margin-top: 1em;
  font-size: 0.9em;
}

.switchLink {
  color: #2563eb;
  cursor: pointer;
  font-weight: bold;
}

/*Parte de la camara*/

#cameraPage {
  text-align: center;
  padding: 2em;
}

.camera-container {
  position: relative;
  display: inline-block;
  margin-bottom: 1em;
}

video, canvas {
  width: 480px;
  height: 360px;
  border-radius: 10px;
  background: black;
}

.controls {
  margin-bottom: 1em;
}

.result {
  background: white;
  padding: 1em;
  border-radius: 10px;
  width: 480px;
  margin: 0 auto;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}